html,
body,
input,
button {
  font-family: Sawasdee;
  font-size: 20px;
}

.todo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo__item {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: .5em .25em;
  border-bottom: solid 1px #eee;
}

.todo__item:hover {
  background: #d4d0d0;
  cursor: pointer;
}

.todo__entry {
  border: solid 1px #ccc;
  display: block;
  margin: 40px auto;
  padding: .25em .5em;
  border-radius: .2em;
  background: #f3f3f3;
  width: 50%;
  al box-sizing: border-box;
}

.todo__button {
  border: 0;
  border-radius: .2em;
  background: #71B7FF;
  color: #fff;
  padding: .35em .5em;
  margin: 0;
  margin-right: 5em;
  float:right;
  cursor: pointer;
}

.todo__button:hover {
  background: #B2D8FF;
}